<!DOCTYPE html>
<html>
<head>
    <title>Ride Sharing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
    <h1>🚗 Ride Sharing System</h1>
    <p>Fuel bachaao, sath chalo</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Ride Sharing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
    <h1>🚗 Ride Sharing System</h1>
    <p>Fuel bachaao, sath chalo</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
</body>
</html>
